Bookstore system/.idea
Bookstore system/.mvn
Bookstore system/pom.xml
Bookstore system/target/

Task 9/.idea
Task 9/out/
!**/src/main/**/out/
!**/src/test/**/out/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
